
body{
background-color: lightsteelblue;
}

h1{
font-size: larger;
color:rgba(0, 0, 105, 0.733) ;
}
p{

color: white;
}

.center{
   text-align: center; 
}

.box{
    background-color: steelblue; 
    border: 2px solid black;
width: 60%;
border-radius: 15px;
box-shadow: 0 0 10px black;
margin: 0 auto;
}